* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Background {
    position: fixed;
    min-width: 100vw;
    max-height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    font-size: 12vh;
    text-align: left;
    text-transform: uppercase;
    color: rgba(184, 184, 184, 0.274);
    overflow: hidden;
    word-wrap: break-word;
    filter: blur(2px);
    border: 1px solid red;
}

.Background p {
    word-wrap: break-word;
}

.TaskList {
    max-width: 50%;
    min-width: 300px;
    margin: 0 auto;
    margin-top: 7%;
    margin-bottom: 7%;
}

.InputTask {
    width: 50%;
    border: 1px solid black;
    padding: 5px;
    outline: 2px solid rgb(207, 42, 42);
}

.AddTask {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 25px;
    background-color: rgb(121, 121, 121);
    border-radius: 15px 15px 0 0;
    height: 80px;
}

.AddTaskButton {
    width: 50px;
    height: 50px;
    justify-self: center;
    align-self: center;
}

ul {
    display: flex;
    flex-direction: column;
}

.Footer {
    display: flex;
    background-color: rgb(121, 121, 121);
    border-radius: 0 0 15px 15px;
    width: 100%;
    text-align: center;
    border-top: 3px solid white;
    height: 80px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 8px 0px 0px rgb(37, 37, 37);
}

.Footer p {
    text-transform: uppercase;
    color: white;
}
